header{
    text-align: center;
}
#menus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu-item{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 3px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
#menus h2{
    position: absolute;
    padding:5px;
    color: white;
    bottom: 10px;
    right: 3%;
    text-shadow: 3px 3px 5px black;
}


#menu1{
    background-image: url("../img/food1.jpg");
    /* background-position: center center;
    background-repeat: no-repeat; */
}
#menu2{
    background-image: url("../img/food2.jpg");
    /* background-position: center center;
    background-repeat: no-repeat; */
}
#menu3{
    background-image: url("../img/food3.jpg");

}
#menu4{
    background-image: url("../img/food4.jpg");

}
#menu5{
    background-image: url("../img/food5.jpg");

}
#menu6{
    background-image: url("../img/food6.jpg");

}
#menu7{
    background-image: url("../img/food7.png");

}
#menu8{
    background-image: url("../img/food8.jpg");

}
#menu9{
    background-image: url("../img/food9.png");

}
#menu10{
    background-image: url("../img/food10.jpg");

}
