/* 전체 */
#wrapper{
    width: 100%;
}
/* 헤더 */
header{
    height: 60px;
    line-height: 60px;
}
/* 본문 */
section{
    height: 300px;
    background-color: aquamarine;
}
/* aside */
aside{
    background-color:blue;
    color: white;
    text-align: center;
}
/* footer */
footer{
    height: 60px;
    line-height: 60px;
}

